* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#app {
    width: 100%;
    height: 100vh;
    display: flex;
}

.builder__side {
    flex: 1;
    border-right: 1px solid gray;
    display: inherit;
    flex-direction: column;
    align-items: center;
    padding: 1rem 3rem;
    overflow-y: scroll;
}

h2 {
    margin-bottom: 2rem;
    text-transform: uppercase;
    opacity: .6;
}

h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: .75rem;
    color:#0572cc;
}

.row {
    width: 100%;
    box-shadow: 0px 2px 2px rgba(0,0,0,.2), 0px 0px 8px rgba(0,0,0,.1);
    margin-bottom: 1rem;
    border-radius: .5rem;
    padding: 1rem 2rem;
}

label {
    display: block;
    margin-bottom: .25rem;
    font-size: 14px;
    opacity: .6;
}

hr {
    margin: 1rem 0;
    color: #43a6f7;
}

input:not([type=checkbox], [type=color]) {
    width: 100%;
}

input:not([type=range]){
    padding: .25rem .5rem;
    outline: none;
}

.button__side {
    flex: 1;
    display: inherit;
    justify-content: center;
    align-items: center;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #0572cc;
    cursor: pointer;
    border: none;
  }
  
  .slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #0572cc;
    cursor: pointer;
    border: none;
  }